
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
p{
    user-select: none;
}
.songContainer{
    height: 495px;
    background: grey;
    overflow: hidden;
    overflow-y: scroll;
}
.songControl{
    color: grey;
}
.songControl:hover{
    color: white;
    cursor: pointer;
}
.trackSelected{
    color: rgb(0, 215, 113);
}
.track:hover{
    cursor: pointer;
}
.trackContainer{
    border: 1px solid white;
}
